/* Declaramos nuestras variables para el color */
:root {

    /** Colores */
    --primary: #FD7400; /*Para subtítulos y botones*/
    --secondary: #211f73; /* Para el fondo*/
    --third: #00FF99; /*Hace contraste con primary*/

    /** Fuentes */
    --primary_font: "PT Sans", Calibri, Tahoma, sans-serif;
    --secondary_font: Verdana, Geneva, Tahoma, sans-serif;
}

/* Dejamos toda la web sin margenes o espacio dentro la cajas, reiniciamos las medidas pues */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de la pagina web */
body{
    background-color: var(--secondary);
    font-family: var(--primary_font);
}

button {
    padding: 10px 10px;
    background-color: var(--secondary);
    border-style: hidden;
    border-radius: 17px;
    margin-top: 18px;
}

header {
    display: flex;
    justify-content: center;
}

header > h1 {
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    color: var(--third);
    margin: 0 auto;
}

/* Hacemos que el contenedor sea flexible con flexbox
junto con espaciado 80px arriba/abajo y 32px izquierda/derecha */
.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
}

/* El contenedor articles dentro de background se hace responsivo con flexbox y algo de grid*/
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 24px;
}

.articles article {
    max-width: 320px;
    cursor: pointer;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
}

.articles article a {
    display: inline-flex;
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--secondary_font);

}

.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: var(--primary);
    transition: color 0.3s ease-out;
}

.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.articles-preview {
    padding: 24px;
    background: white;

}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.5);
}

footer {
    background-color: var(--third);
    padding: 27px;
}

footer > .footer_text {
    color: var(--secondary);
    text-align: center;
}